@font-face {
    font-family: font_PSR;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: font_LGR;
    src: url("../fonts/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

body {
    margin: 0 auto;
}

#bgVideo {
    opacity: 0.6;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
}

#heading {
    font-family: font_LGR;
    text-align: center;
    margin: 5px auto;

    animation-name: headingAnimation;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    font-size: 72px;
    letter-spacing: 5px;
    color: rgb(0, 40, 90);
    text-shadow: 1.5px 1.5px rgb(175, 200, 250);
}

@keyframes headingAnimation {
    0% {
        letter-spacing: 5px;
        color: rgb(0, 40, 90);
        text-shadow: 2.5px 2.5px rgb(175, 200, 250);
    }

    25% {
        letter-spacing: 10px;
        color: rgb(75, 125, 200);
        text-shadow: 5px 5px rgb(75, 125, 200);
    }

    50% {
        letter-spacing: 5px;
        color: rgb(175, 200, 250);
        text-shadow: 7.5px 7.5px rgb(0, 40, 90);
    }

    75% {
        letter-spacing: 10px;
        color: rgb(75, 125, 200);
        text-shadow: 5px 5px rgb(75, 125, 200);
    }

    100% {
        letter-spacing: 5px;
        color: rgb(0, 40, 90);
        text-shadow: 2.5px 2.5px rgb(175, 200, 250);
    }
}

button {
    font-family: font_LGR;
    text-align: center;
    height: 120%;
    width: 15%;
    font-size: 36px;
    color: rgb(75, 125, 200);
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    border: 2px solid rgb(0, 40, 90);
    border-radius: 50px;
    text-transform: uppercase;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 125, 200);
    opacity: 1.0;
}

.header,
.row {
    display: flex;
}

.column {
    flex: 50.0%;
    padding: 0 2.5em 0 2.5em;
}

h2 {
    font-family: font_PSR;
    text-align: center;
    width: 60%;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 40, 90, 0.8);
    letter-spacing: 0.1px;
    line-height: 40px;
    border-radius: 100px;
}

h2:hover {
    background-color: rgb(0, 20, 45);
}

h3 {
    font-family: ubuntu;
    text-align: center;
    width: 40%;
    font-size: 20px;
    margin: 0.5em;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 40, 90, 0.6);
    letter-spacing: 0.1px;
    line-height: 30px;
    border-radius: 80px;
}

h3:hover {
    background-color: rgb(0, 20, 45);
}

input {
    font-family: ubuntu;
    text-align: center;
    height: 50%;
    width: 30%;
    font-size: 20px;
    padding: 2.5px;
    border: 2.5px solid;
    border-radius: 80px;
    margin: 7.5px
}