@font-face {
    font-family: font_PSR;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: font_LGR;
    src: url("../fonts/LuckiestGuy-Regular.ttf");
}

body {
    margin: 0 auto;
}

#bgVideo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
}

#heading {
    font-family: font_LGR;
    text-align: center;

    animation-name: headingAnimation;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    font-size: 84px;
    letter-spacing: 15px;
    color: rgb(0, 40, 90);
    text-shadow: 2.5px 2.5px rgb(175, 200, 250);
}

@keyframes headingAnimation {
    0% {
        color: rgb(0, 40, 90);
        text-shadow: 2.5px 2.5px rgb(175, 200, 250);
    }

    25% {
        color: rgb(75, 125, 200);
        text-shadow: 5px 5px rgb(75, 125, 200);
    }

    50% {
        color: rgb(175, 200, 250);
        text-shadow: 7.5px 7.5px rgb(0, 40, 90);
    }

    75% {
        color: rgb(75, 125, 200);
        text-shadow: 5px 5px rgb(75, 125, 200);
    }

    100% {
        color: rgb(0, 40, 90);
        text-shadow: 2.5px 2.5px rgb(175, 200, 250);
    }
}

button {
    font-family: font_LGR;
    text-align: center;
    height: 120%;
    width: 30%;
    font-size: 36px;
    color: rgb(75, 125, 200);
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    border: 2px solid rgb(0, 40, 90);
    border-radius: 50px;
    text-transform: uppercase;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 125, 200);
    opacity: 1.0;
}

.row {
    display: flex;
}

.column {
    flex: 50.0%;
    padding: 50px;
}

h2 {
    font-family: font_PSR;
    text-align: center;
    width: 75%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 40, 90, 0.5);
    letter-spacing: 0.1px;
    line-height: 30px;
    border-radius: 100px;
}